<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Nombre portes</th>
              <th>Puissance</th>
              <th>Prix</th>
              <th>Date Création</th>
              <th>Marque</th>
              <th>Image</th>
            </tr>
          </thead>
          <!--<tbody *ngFor="let voiture of voitures">
            <tr>
              <td>{{voiture.idVoiture}}</td>
              <td>{{voiture.nomVoiture}}</td>
              <td>{{voiture.type}}</td>
              <td>{{voiture.nbPortes}}</td>
              <td>{{voiture.puissance}}</td>
              <td>{{voiture.prixVoiture}}</td>
              <td>{{voiture.dateCreationVoiture | date:'dd/MM/yyyy'}}</td>
              <td>{{voiture.marque.nomMarque}}</td>
              <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerVoiture(voiture)">Supprimer</a></td>
              <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateVoiture',voiture.idVoiture]">Modifier</a></td>
            </tr>
          </tbody>-->
          <tbody>
            <tr *ngFor="let voiture of voitures">
              <td>{{voiture.idVoiture}}</td>
              <td>{{voiture.nomVoiture}}</td>
              <td>{{voiture.type}}</td>
              <td>{{voiture.nbPortes}}</td>
              <td>{{voiture.puissance}}</td>
              <td>{{voiture.prixVoiture}}</td>
              <td>{{voiture.dateCreationVoiture | date:'dd/MM/yyyy'}}</td>
              <td *ngIf="voiture.marque!=null">{{voiture.marque.nomMarque}}</td>
              <td *ngIf="voiture.marque==null">"PAs de marque"</td>
              <td><img class="card-img-top img-responsive" src="{{apiURL+'/image/loadfromFS/'+voiture.idVoiture}}" style = "height :50px;width:100px"> </td>
              <!--*ngIf="voiture.imageStr!=null"
                <td *ngIf="voiture.imageStr==null">"Pas d'image"</td>-->
              <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerVoiture(voiture)">Supprimer</a></td>
              <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateVoiture', voiture.idVoiture]">Modifier</a></td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  